.ball{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

