*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    width: 100%;
}
body{
    height: 100vh;
}

input[type="range"]:hover{
    cursor: pointer;
}

h1{
    text-align: center;
    margin: 3em 0 3em;
}

#app{
    display: flex;
    justify-content: center;
    align-items: stretch;

}

#control-panel-container{
    display: flex;
    flex-direction: column;
}

#control-panel-container, #board{
    margin : 2em 1em 2em;
}